.containerItems
{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    color: white;
}

.item
{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 35%;
    background: rgb(116, 25, 25);
    font-family: Avenir_roman;
    font-size: 1.15rem;
}

.item span
{
    font-family: Avenir_black;
    font-size: 1.5rem;
}

.item .nameOfItem
{
    font-family: Avenir_black;
    font-size: 2rem;
    text-transform: capitalize;
    margin-bottom: 10px;
}