body {
    width: 100%;
    height: 100vh;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    background: #AD1432;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    position: relative;
}

.wrapper {
    width: 90%;
    height: 90%;
    background: #C81C40;
    position: relative;
}

.logo {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff0033;
}

.section {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    background: #AD1432;
}

.section .main {
    width: 100%;
    background: #C81C40;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.main .card {
    background: #F4BDC9;
    width: 30%;
    height: 150px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    padding: 5px;
    transition: transform 0.5s, box-shadow 0.5s;
}

.main .card:hover {
    transform: scale(1.05);
    box-shadow: rgba(146, 146, 146, 0.25) 0px 50px 100px -20px, rgba(145, 145, 145, 0.3) 0px 30px 60px -30px, rgba(66, 21, 21, 0.35) 0px -2px 6px 0px inset;
}

.prevButton {
    position: fixed;
    width: 40px;
    height: 40px;
    background: #240000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    left: 5px;
    top: 50%;
    transition: transform 0.5s, box-shadow 0.5s;
}

.prevButton:hover {
    transform: scale(1.1);
    box-shadow: rgba(255, 255, 255, 0.25) 0px 50px 100px -20px, rgba(255, 255, 255, 0.3) 0px 30px 60px -30px, rgba(64, 10, 10, 0.35) 0px -2px 6px 0px inset;
}

.nextButton {
    position: fixed;
    width: 40px;
    height: 40px;
    background: #240000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    right: 5px;
    top: 50%;
    transition: transform 0.5s, box-shadow 0.5s;
}

.nextButton:hover {
    transform: scale(1.1);
    box-shadow: rgba(255, 255, 255, 0.25) 0px 50px 100px -20px, rgba(255, 255, 255, 0.3) 0px 30px 60px -30px, rgba(64, 10, 10, 0.35) 0px -2px 6px 0px inset;
}

.nextButtonStat {
    cursor: pointer;
}

.prevButtonStat {
    cursor: pointer;
}